/* src > styles > placeinfo.css */

.page-container {
    display: flex;
  }
  
.sidebar-container {
    flex: 0 0 auto;
    z-index: 1;
  }
  
.map-container {
    flex: 1;
    position: relative;
    z-index: 0;
  }

.placeName {
  margin-top: -30px;
  margin-left: 20px;
  font-family: 'SUIT Variable', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  color: var(--grayscale-Gray8, #191B24);
}  

.searched-location {
  margin-top: 20%;
  color: red;
  font-weight: 800;
  text-align: center;
}

.popularplace {
  margin-top: 10%;
  font-size: large;
}

.placeList {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: -5px;
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 350;
  color: #8270FF;
}
