.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 뷰포트 높이를 사용하여 중앙 정렬 */
}

.formContainer {
  width: 600px; /* 폼의 너비 지정 */
  padding: 20px; /* 폼 내부의 패딩 */
  margin-top: -100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 폼에 그림자 효과 추가 */
  border-radius: 10px; /* 폼의 모서리를 둥글게 */
  background-color: white; /* 배경색 */
}

.textTitle {
  /* 초대코드를 입력해주세요. */

  /* head/head_bold_24 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  /* identical to box height */

  /* grayscale/Gray8 */
  color: #191b24;
  margin-top: 25px;
  margin-bottom: 10px;
}

.search_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80px;
  left: 25%;

  /* grayscale/Gray1 */
  background: #f3f5ff;
  border: none;
  border-radius: 10px;

  /* 신나는 부산 여행 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  padding-right: 10px;
  outline: none;
  /* Remove the outline on focus */
  /* or 27px */

  /* grayscale/Gray8 */
  color: #191b24;
}

.search_title1 {
  /* Rectangle 34624545 */
  width: 90%;
  background: #f3f5ff;
  border: none;
  border-radius: 10px;
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  margin-left: 30px;
  /* or 27px */
  outline: none;
  /* grayscale/Gray8 */
  color: #191b24;
}

.search_title1::placeholder {
  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  /* grayscale/Gray3 */
  color: #bfc4d8;
}

.search_destination {
  /* Rectangle 34624545 */

  width: 480px;
  height: 80px;
  left: 25%;

  /* grayscale/Gray1 */
  background: #f3f5ff;
  border: none;
  border-radius: 10px;

  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
}

.search_invite {
  /* Rectangle 34624545 */

  width: 480px;
  height: 80px;
  left: 25%;
  top: -420px;

  /* grayscale/Gray1 */
  background: #f3f5ff;
  border: none;
  border-radius: 10px;

  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  /* grayscale/Gray3 */
  color: #bfc4d8;
}

.search_submit {
  width: 80px;
  height: 80px;

  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  color: #bfc4d8;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.search_submit:hover, .search_submit:active {
  background-color: #8270FF;
  color: white;
}


.invitationCodeSection {
  display: flex;
  justify-content: space-between; /* input과 button 사이에 공간을 균등하게 배분 */
  width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 90px; /* 버튼 간격을 조정하고 싶은 경우 */
}