@font-face {
  font-family: "JalnanGothic";
  src: url("../assets/fonts/JalnanGothicTTF.ttf") format("truetype");
}
@font-face {
  font-family: "Jalnan";
  src: url("../assets/fonts/Jalnan2TTF.ttf") format("truetype");
}
