.buttonFalse {
  width: 138px;
  height: 70px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-Gray2, #ebedf8);
  background: var(--grayscale-White, #fff);
  color: var(--grayscale-Gray3, #bfc4d8);

  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
  margin-top: 20px;
  margin-left: 111px;
}

.buttonUse {
  /* 현재 계획서 적용하기 */
  width: 138px;
  height: 70px;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  margin-left: 111px;

  /* Primary color */
  background: var(--grayscale-White, #8270ff);
  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  text-align: center;

  /* grayscale/White */
  color: #ffffff;
}

.buttonEdit {
  /* 현재 계획서 적용하기 */
  width: 138px;
  height: 70px;
  border-radius: 8px;
  border: none;
  margin-top: 300px;
  margin-left: 111px;

  /* Primary color */
  background: var(--grayscale-White, #cfc8ff);
  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  text-align: center;

  /* grayscale/White */
  color: #ffffff;
}
.nickname {
  color: var(--grayscale-Gray3, #bfc4d8);

  /* subtitle/subtitle_smbold_16 */
  font-family: "SUIT Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title {
  color: var(--grayscale-Gray8, #191b24);

  /* head/head_bold_24 */
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inform {
  color: var(--grayscale-Gray3, #bfc4d8);

  /* detail/detail_regular_14 */
  font-family: "SUIT Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 23.8px */
}

.hashtags {
  color: var(--grayscale-Gray4, #7f85a3);

  /* subtitle/subtitle_smbold_16 */
  font-family: "SUIT Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line {
  border-bottom: 2px solid var(--grayscale-Gray2, #ebedf8);
  background: var(--grayscale-Gray1, #f3f5ff);
  width: 100%;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  display: inline-block;
  /* 가로 스크롤 활성화 */
}

.divscroll {
  width: 100%;
  height: 750px;
  overflow: auto;
  white-space: nowrap;
  display: relative;
}

.detailnum {
  color: #000;
  /*몇일차*/
  /* head/head_bold_20 */
  font-family: "SUIT Variable";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.detailcal {
  color: var(--grayscale-Gray3, #bfc4d8);

  /* subtitle/subtitle_smbold_16 */
  font-family: "SUIT Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.detailnum1 {
  /*몇번*/
  fill: var(--grayscale-Gray2, #ebedf8);
  margin-top: -50px;
  margin-left: 10%;
  width: 28px;
  height: 28px;
}

.detailnum2 {
  /* 2 */

  position: relative;
  width: 10px;
  height: 27px;
  left: -19px;
  top: -24px;

  /* botton/botton_bold_16 */
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  /* grayscale/Gray4 */
  color: #7f85a3;
}

.detailtime {
  color: var(--grayscale-Gray4, #7f85a3);
  /* detail/detail_regular_14 */
  width: 198px;
  font-family: "SUIT Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 23.8px */
}

.detailplace {
  color: var(--Sub-color, #78cf9f);

  /* body/body_bold_14 */
  font-family: "SUIT Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailplacename {
  color: var(--grayscale-Gray8, #191b24);

  /* head/head_bold_20 */
  font-family: "SUIT Variable";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailmoney {
  color: var(--grayscale-Gray4, #7f85a3);

  /* body/body_bold_14 */
  font-family: "SUIT Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailimage {
  margin-top: 100px;
  width: 135px;
  height: 135px;
  border-radius: 10px;
  background: var(--grayscale-Gray2, #ebedf8);
}

.detailBox {
  border-radius: 8px;
  margin-bottom: 100px;
  background: var(--grayscale-White, #fff);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
  width: 375px;
  height: 160px;
  flex-shrink: 0;
  padding: 10px;
}

.heartImage {
  cursor: pointer;
}
