.header {
  background-color: #333;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobox {
  width: 25vw;
}
.logo img {
  margin-left: 8vw;
  text-decoration: none;
  object-fit: cover;
  display: block;
  width: 50%;
  height: auto;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 0px;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ffcc00;
}

.active {
  color: #ffcc00;
}
