/* .member-management {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  p {
    color: #444;
    margin-bottom: 5px;
  }
  
  .input-box {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .input-box input {
    border: none;
    background: none;
    width: 80%;
    margin-left: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .button-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #444;
    border-bottom: 2px solid #444;
    transform: rotate(45deg);
    display: inline-block;
    margin-left: 5px;
  }
  
  .logout {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .logout a {
    text-decoration: none;
    color: #444;
  }
  
  .logout-arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #444;
    border-bottom: 2px solid #444;
    transform: rotate(45deg);
    display: inline-block;
    margin-left: 5px;
  }
  
  .withdrawal {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .withdrawal a {
    text-decoration: none;
    color: #444;
  }
  
  .withdrawal-arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #444;
    border-bottom: 2px solid #444;
    transform: rotate(45deg);
    display: inline-block;
    margin-left: 5px;
  }
   */
