/* Modal.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*4번째 숫자 커질수록 어두워짐*/
    background: rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    height: 358px;
    left: calc(50% - 681px/2 + 0.5px);
    top: 389px;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    text-align: center;

    /* grayscale/White */
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.modalTitle {
    /* 성산일출봉 */
    /* head/head_bold_24 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.modalPlace {
    /* 명소 */

    /* body/body_bold_14 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;
    /* Sub color */
    color: #78CF9F;
}

.modallocation {
    /* 제주 제주시 애월읍 고내1길 33 */

    /* detail/detail_regular_14 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    /* identical to box height, or 24px */

    /* grayscale/Gray3 */
    color: #BFC4D8;
}



.modalscrap {
    /* Rectangle 34624543 */

    width: 213px;
    height: 40px;
    left: calc(50% - 213px/2 + 0.5px);
    top: 524px;

    /* grayscale/Gray1 */
    background: #F3F5FF;
    border-radius: 4px;
    margin-left: 30%;
}

.modalplaceinform {
    /* 장소 설명을 간단하게 적어 놓는 공간입니다. 장소 설명을 간단하게 적어 놓는 공간입니다. 장소 설명을 간단하게 적어 놓는 공간입니다. */
    /* detail/detail_regular_15 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    /* or 26px */
    text-align: center;

    /* grayscale/Gray5 */
    color: #626682;
}

.modalplaceinformmore {
    /* 장소 정보 더 자세히 보기 */


    /* botton/botton_bold_16 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    text-align: center;

    /* Primary color */
    color: #8270FF;
}

.closeImage {
    position: relative;
    width: 20px;
    height: 20px;
    left: 320px;
    top: -30px;
}

.starImage {
    /* Vector */
    position: relative;
    width: 25px;
    left: -12%;
    top: 20.44%;
}

.starNumber {
    /* 3.57 */

    position: relative;
    width: 31px;
    height: 19px;
    left: -7%;
    top: 26%;
    bottom: 12.5%;
    /* body/body_bold_15 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height */

    /* grayscale/Gray5 */
    color: #626682;
}

.bookmarkImage {
    /* bookmark */
    position: relative;
    width: 20px;
    left: 4%;
    right: 67.8%;
    top: 21.5%;
    bottom: 12.5%;

}

.bookmarkNumber {
    /* 3.57 */

    position: relative;
    width: 31px;
    height: 19px;
    left: 9%;
    top: 26%;
    bottom: 12.5%;
    /* body/body_bold_15 */
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height */

    /* grayscale/Gray5 */
    color: #626682;
}