.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 200px;
  background-color: aqua;
}

.mypage-container {
  max-width: 1000px;
  margin: 0 auto;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  width: 50px; /* 프로필 아이콘 크기 조절 */
  height: 50px;
  margin-right: 10px;
}

.user-details p {
  margin: 0;
}

.my-plans,
.interest-plans,
.interest-places {
  margin-top: 20px;
}

.mypage_navbar {
  display: flex;
  margin-bottom: 10px;
}

