/* src > styles > placeinfo.css */

.page-container {
    display: flex;
  }
  
.sidebar-container {
    flex: 0 0 auto;
    z-index: 1;
  }
  
.map-container {
    flex: 1;
    position: relative;
    z-index: 0;
  }

.searched-location {
  margin-top: 20%;
  color: red;
  font-weight: 800;
  text-align: center;
}

.popularplace {
  margin-top: 10%;
  font-size: large;
}