.search-container {
    position: absolute;
    top: 29px;
    left: 390px;
    z-index: 1;
  }
  
  .search-container form {
    display: flex;
    align-items: center;
  }
  
  .search-container input[type="text"] {
    width: 436px; /* 원하는 너비로 조절 */
    height: 44px; /* 원하는 높이로 조절 */
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .search-container input[type="submit"] {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
  }
  
  .suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: #ffffff; /* 흰색 배경 */
    border: 1px solid #cccccc; /* 테두리 추가 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 4px; /* 모서리 둥글게 */
  }
  