.container {
  background-color: #e3ecf1;
}

.sidebar {
  position: fixed;
  background-color: #e3ecf1;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  z-index: 99;
}

.toggle-button {
  position: fixed;
  top: 40vh;
  left: 0px; /* 사이드바와의 간격 조정 */
  width: 15px; /* 버튼의 너비 */
  height: 40px; /* 버튼의 높이 */
  z-index: 100;
  background-color: #e3ecf1; /* 사다리꼴의 배경색 */
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
}

.content {
  padding: 40px 40px 0 20px;
  overflow-y: auto; /* 내용이 많을 경우 스크롤바 표시 */
  height: 100%; /* 전체 높이 */
}
