.show-menu {
  width: 376px;
  height: 500px;
  position: absolute;
  left: 0px;
  transition: 1s;
}

.hide-menu {
  width: 376px;
  height: 500px;
  position: absolute;
  left: -376px;
  transition: 1s;
}

.selected {
  background-color: #007bff;
  color: white;
  border: none;
}

.transportation-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
}

.transportation-buttons .selected {
  background-color: #28a745;
}

.HashWrap {
  margin-top: 24px;
  /* color: rgb(52, 58, 64); - 제거되거나 수정됨 */
  color: #444241; /* 원하는 색상 값으로 유지 */
  font-size: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: -0.6px;
  border-bottom: 1.6px solid #cccccc;
  padding: 2px 2px 8px 2px;
}
.HashWrapOuter {
  display: flex;
  flex-wrap: wrap;
}

.HashWrapInner {
  margin-top: 5px;
  background: #ffeee7;
  border-radius: 56px;
  padding: 8px 12px;
  color: #ff6e35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.HashInput {
  width: auto;
  margin: 10px;
  display: inline-flex;
  outline: none;
  cursor: text;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  min-width: 8rem;
  border: none;
}

/* Minus 버튼 스타일 */
.minus {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-position: center;
  background-size: 40% 2px;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

/* 클릭할 수 없는 Minus 버튼 스타일 */
.minus-no-click {
  opacity: 0.15;
  border: 1px solid rgba(0, 0, 0, 0.8);
  cursor: default;
}

/* Plus 버튼 스타일 */
.plus {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-position: center;
  background-size: 40% 2px, 2px 40%;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

/* .button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
